<!-- Lucas Bubner, 2022 -->
{% extends "layout.html" %}

{% block title %}
    Memoir
{% endblock %}

{% block body %}
    {% for post in posts %}
        <br>
        <div class="container-fluid post">
            <img id="right-align" src="{{ url_for('static', filename='images/' + post[3]) }}" alt="{{ post[3] }}" height="{{ post[4] }}" width="auto">
            <h1>{{ post[1] }}</h1>
            <p>{{ post[2] }}</p>
            {% if logged_in %}
                <form action="/delete/{{ post[0] }}" method="post">
                    <button type="submit" class="float-right btn btn-link">Delete</button>
                </form>
                <form action="/edit/{{ post[0] }}" method="get">
                    <button type="submit" class="float-right btn btn-link">Edit</button>
                </form>
            {% endif %}
            <br>
        </div>
    {% endfor %}
{% endblock %}